.phalcon
.DS_Store
Thumbs.db
*.log
.deploy*/
src/_drafts
dev/
.env
public/uploads/*
vendor/
!public/uploads/.gitkeep
composer.lock
_output

**/build
**/report
**/.phpunit.result*

public/temp/*
!public/temp/.gitkeep
**.pgsql